@import "tailwindcss";

@theme {
  --color-osamoc-blue: #004A99;
  --color-osamoc-gray: #F4F4F4;
  --color-osamoc-green: #28A745;
  --color-osamoc-red: #DC3545;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #F4F4F4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F4F4F4;
}

#root {
  width: 100%;
}